Build started...
Build succeeded.
START TRANSACTION;

ALTER TABLE `Departments` MODIFY COLUMN `Name` varchar(255) CHARACTER SET utf8mb4 NOT NULL;

CREATE UNIQUE INDEX `IX_Departments_UniversityId_Name` ON `Departments` (`UniversityId`, `Name`);

ALTER TABLE `Departments` DROP INDEX `IX_Departments_UniversityId`;

INSERT INTO `__EFMigrationsHistory` (`MigrationId`, `ProductVersion`)
VALUES ('20260530063516_AddUniqueDepartmentIndex', '8.0.0');

COMMIT;

START TRANSACTION;

ALTER TABLE `Courses` MODIFY COLUMN `Name` varchar(255) CHARACTER SET utf8mb4 NOT NULL;

INSERT INTO `__EFMigrationsHistory` (`MigrationId`, `ProductVersion`)
VALUES ('20260530065248_AddUniqueCoursesIndex', '8.0.0');

COMMIT;

START TRANSACTION;

INSERT INTO `__EFMigrationsHistory` (`MigrationId`, `ProductVersion`)
VALUES ('20260530070632_AddUniqueCourseSubjectIndex', '8.0.0');

COMMIT;

START TRANSACTION;


COMMIT;

START TRANSACTION;

ALTER TABLE `Papers` MODIFY COLUMN `ProjectId` int NULL;

ALTER TABLE `Papers` ADD `UniversityId` int NULL;

CREATE INDEX `IX_Papers_UniversityId` ON `Papers` (`UniversityId`);

ALTER TABLE `Papers` ADD CONSTRAINT `FK_Papers_Universities_UniversityId` FOREIGN KEY (`UniversityId`) REFERENCES `Universities` (`UniversityId`);


COMMIT;

START TRANSACTION;

ALTER TABLE `Scripts` RENAME COLUMN `PaperId` TO `ProjectPaperId`;

ALTER TABLE `Scripts` RENAME INDEX `IX_Scripts_PaperId` TO `IX_Scripts_ProjectPaperId`;

ALTER TABLE `Papers` MODIFY COLUMN `Description` longtext CHARACTER SET utf8mb4 NULL;

CREATE TABLE `ProjectPapers` (
    `Id` int NOT NULL AUTO_INCREMENT,
    `ProjectId` int NOT NULL,
    `PaperId` int NOT NULL,
    `CatchNo` longtext CHARACTER SET utf8mb4 NULL,
    `QuestionPaperPdfUrl` longtext CHARACTER SET utf8mb4 NULL,
    `IsActive` tinyint(1) NOT NULL,
    `CreatedAt` datetime(6) NOT NULL,
    `UpdatedAt` datetime(6) NOT NULL,
    CONSTRAINT `PK_ProjectPapers` PRIMARY KEY (`Id`),
    CONSTRAINT `FK_ProjectPapers_Papers_PaperId` FOREIGN KEY (`PaperId`) REFERENCES `Papers` (`PaperId`) ON DELETE CASCADE,
    CONSTRAINT `FK_ProjectPapers_Projects_ProjectId` FOREIGN KEY (`ProjectId`) REFERENCES `Projects` (`ProjectId`) ON DELETE CASCADE
) CHARACTER SET=utf8mb4;

CREATE UNIQUE INDEX `IX_Papers_PaperCode_UniversityId` ON `Papers` (`PaperCode`, `UniversityId`);

CREATE INDEX `IX_ProjectPapers_PaperId` ON `ProjectPapers` (`PaperId`);

CREATE UNIQUE INDEX `IX_ProjectPapers_ProjectId_PaperId` ON `ProjectPapers` (`ProjectId`, `PaperId`);

DELETE FROM Scripts

ALTER TABLE `Scripts` ADD CONSTRAINT `FK_Scripts_ProjectPapers_ProjectPaperId` FOREIGN KEY (`ProjectPaperId`) REFERENCES `ProjectPapers` (`Id`) ON DELETE CASCADE;


COMMIT;

START TRANSACTION;

ALTER TABLE `Allocations` ADD `Deadline` datetime(6) NULL;


COMMIT;

START TRANSACTION;

ALTER TABLE `Sections` ADD `SectionMasterId` int NULL;

CREATE TABLE `SectionMasters` (
    `Id` int NOT NULL AUTO_INCREMENT,
    `Name` varchar(255) CHARACTER SET utf8mb4 NOT NULL,
    `Description` longtext CHARACTER SET utf8mb4 NOT NULL,
    `TotalQuestions` int NOT NULL,
    `TotalMarks` int NOT NULL,
    `StartQuestion` int NOT NULL,
    `EndQuestion` int NOT NULL,
    `MaxQuestionsToAttempt` int NOT NULL,
    `CreatedAt` datetime(6) NOT NULL,
    CONSTRAINT `PK_SectionMasters` PRIMARY KEY (`Id`)
) CHARACTER SET=utf8mb4;

CREATE INDEX `IX_Sections_SectionMasterId` ON `Sections` (`SectionMasterId`);

CREATE UNIQUE INDEX `IX_SectionMasters_Name` ON `SectionMasters` (`Name`);

ALTER TABLE `Sections` ADD CONSTRAINT `FK_Sections_SectionMasters_SectionMasterId` FOREIGN KEY (`SectionMasterId`) REFERENCES `SectionMasters` (`Id`) ON DELETE SET NULL;


COMMIT;

START TRANSACTION;

ALTER TABLE `Courses` DROP FOREIGN KEY `FK_Courses_Departments_DepartmentId`;

ALTER TABLE `Courses` DROP INDEX `IX_Courses_DepartmentId_Name`;

ALTER TABLE `Courses` DROP COLUMN `DepartmentId`;

ALTER TABLE `Courses` MODIFY COLUMN `Name` longtext CHARACTER SET utf8mb4 NOT NULL;

CREATE TABLE `DepartmentCourses` (
    `Id` int NOT NULL AUTO_INCREMENT,
    `DepartmentId` int NOT NULL,
    `CourseId` int NOT NULL,
    CONSTRAINT `PK_DepartmentCourses` PRIMARY KEY (`Id`),
    CONSTRAINT `FK_DepartmentCourses_Courses_CourseId` FOREIGN KEY (`CourseId`) REFERENCES `Courses` (`Id`) ON DELETE CASCADE,
    CONSTRAINT `FK_DepartmentCourses_Departments_DepartmentId` FOREIGN KEY (`DepartmentId`) REFERENCES `Departments` (`DepartmentId`) ON DELETE CASCADE
) CHARACTER SET=utf8mb4;

CREATE INDEX `IX_DepartmentCourses_CourseId` ON `DepartmentCourses` (`CourseId`);

CREATE UNIQUE INDEX `IX_DepartmentCourses_DepartmentId_CourseId` ON `DepartmentCourses` (`DepartmentId`, `CourseId`);


COMMIT;


